<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>

    <add key="databasetype" value="system.data.sqlclient"/>
    <add key="databaseconnectionString" value="Data Source=.; Initial Catalog=WikTest; User ID=sa;Password=123456;Trusted_Connection=yes; Persist Security Info=true;Integrated Security=false;"/>
    
  </appSettings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5" />
    </startup>
</configuration>